:root {
  --header-bg-color: #204051;
  --body-bg-color: #f0ece3;
  --footer-bg-color: #84a9ac;
  --link-color: #00777d;
  --link-color-visited: #204651;
  --link-color-active: #ca8a8b;
  --navigation-link-color: #ffffff;
  --button-color: #9a6a6a;
  --table-bg-color: #f7dad9;
  --grid-bg-color: #e0cbc8;
  --primary-font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

body {
  background-color: var(--body-bg-color);
}
h1 {
  font-size: 30px;
  font-weight: var(--primary-font-weight);
}
h2 {
  font-size: 24px;
  font-weight: var(--primary-font-weight);
}
h3 {
  font-size: 18px;
  font-weight: var(--primary-font-weight);
}

/* Hyperlinks */
a {
  color: var(--link-color);
  /*color: #266071; */
}
a:visited {
  /* visited link */
  color: var(--link-color-visited);
}
a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:active {
  /* selected link */
  color: var(--link-color-active);
}

/*---------------------------*/
input, texture, select, button {
  font-family: system-ui;
}

/* Button */
.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: var(--button-color);
  color: white !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}
button:hover, button:focus,
.button:hover, .button:focus
{
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* Table Style */
table, tr, th, td{
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--table-bg-color);
  border-collapse: collapse;
  border: 3px solid white;
  border-style: dotted;
  text-align: center;
  padding: 10px;
}

/*---Profile-----*/
.profile {
  max-width: 700px;
  margin: 0 auto;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50% 0 50% 50%;
}

/*--Footer---*/
.page-footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
.page-footer a {
  display: inline-block;
  margin-left: 10px;
}

/* Header */
.page-header {
  background-color: var(--header-bg-color);
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Navigation */
.navigation-list {
  list-style-type: none;
  padding-top: 20px;
}
.navigation-list li {
  display: inline-block;
  margin-left: 30px;
}
.navigation-list__item--active {
  text-decoration: none;
}
/*link style for navigation bar */
.navigation-list a {
  color: var(--navigation-link-color);
}
.navigation-list a:hover {
  color: #c7b198;
}
/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */
.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}
/*-- Or
.grid__item:last-child {
grid-column-start: 3;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 3;
}
*/
@supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;


  }
  .grid__item {
    background-color: var(--grid-bg-color);
    width: auto;
    min-height: auto;
    margin: 0;
    padding-left: 20px;
  }
  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/*--Animation for logo --*/
@keyframes logo-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logo {
  width: 150px;
  animation-duration: 0s;
  animation-name: logo-rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.layout-center {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.contact_form {
  display: block;
  padding-left: 40%;
  padding-bottom: 20px;
  text-align: left;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
/*main section */
#content-wrap {
  padding-top: 50px;
  padding-bottom: 50px;    /* Footer height */
}
/* Footer position */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
